
@-webkit-keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

#foo {
    -webkit-animation: fadein 2s ease-in alternate infinite;
    -moz-animation: fadein 2s ease-in alternate infinite;
    animation: fadein 2s ease-in alternate infinite;
    position: absolute;
    top: 10%;
    width:50px;
    height:50px;
    left:0;
}

.navbar .navbar-nav .nav-link{ color: white;}
body{background: white; font-family: sans-serif;}
.intro{background-image: url("img/bg.png"); color: white;}
footer{color: white;}

#to{
    margin-top:50px;
}